/*--CONFIGURANDO-MARGENES--------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'open sans', 'calibri', 'arial';
}

/*--FONDO-DE-PAGINA--------------*/
body {
	background: #33c96c;
	background: linear-gradient(45deg, #33c96c, #139D8D );
}

/*--FORMULARIO-------------------*/
.father-form {
	width: 800px;
	padding: 40px;
	margin: auto;
	margin-top: 140px;
	color: #33c96c;
	background: linear-gradient(45deg, #33c96c, #139D8D );
}

/*--TITULO-DEL-FORMULARIO--------*/
.title-form {
	margin-bottom: 30px;
	color: yellow;
	font-size: 35px;
}

/*--INPUT-NOMBRE-----------------*/
.input1 {
	width: 48%;
	padding: 10px;
	border-radius: 2px;
	border: none;
	margin-bottom: 20px;
	margin-right: 9px;
	font-size: 15px;
	border-left: 10px solid #26a8ed;
	transition: all .3s ease;
}

	.input1:hover, .input1:focus {
		border-left: 10px solid #17d98f;
	}

/*--INPUT-APELLIDO---------------*/
.input2 {
	width: 48.6%;
	padding: 10px;
	border-radius: 2px;
	border: none;
	margin-bottom: 20px;
	font-size: 15px;
	border-left: 10px solid #26a8ed;
	transition: all .3s ease;

}

	.input2:hover, .input2:focus {
		border-left: 10px solid #17d98f;
	}

/*--INPUT------------------------*/
.input {
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	border: none;
	margin-bottom: 20px;
	font-size: 15px;
	border-left: 10px solid #26a8ed;
	transition: all .3s ease;
}

	.input:hover, .input:focus {
		border-left: 10px solid #17d98f;
	}

/*--PARRAFO-TERMINOS-------------*/
.paragraph {
	color: #ffd800;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

/*--TERMINOS-Y-CONDICIONES-------*/
.termino1 {
	text-align: center;
	color: white;
}

.termino2 {
	color: #ffd800;
	text-decoration: none;
	font-weight: bold;
}

	.termino2:hover {
		color: #027a89;
	}

/*--BOTON-DE-REGISTRAR-----------*/
.btn {
	align-content:center;
	text-align:center;
	width: 800%;
	padding: 10px;
	border-radius: 2px;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	color:greenyellow;
	background: #1baade;
	font-size: 15px;
	cursor: pointer;
	transition: all .3s ease;
}

/*--BOTON-DE-mosttrar-----------*/
.btn2 {
	width: 50px;
	height: 50px;
	top: 1px;
	color: #33c96c;
	padding: 5px;
	border-radius: 2px;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	background: linear-gradient(45deg, #33c96c, #139D8D );
	cursor: pointer;
	transition: all .3s ease;
}

	.btn:hover {
		background: #159ccc;
	}

/*--OTRA-OPCION------ya tengo cuenta------------*/
.otra-opcion {
	text-align: center;
	color: #17c3eb;
	text-decoration: none;
	font-weight: bold;
}

	.otra-opcion:hover {
		color: #3fb0c4;
	}
