/*--CONFIGURANDO-MARGENES--------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'open sans', 'calibri', 'arial';
}

/*--FONDO-DE-PAGINA--------------*/
body {
	/*background: #33c96c;*/
	background: linear-gradient(45deg, #33c96c, #139D8D );
}

/*--FORMULARIO-------------------*/
.father-form {
	align-content:center;
	width: 900px;
	padding: 25px;
	margin: auto;
	margin-top: 140px;
	color: #33c96C;
	background: linear-gradient(45deg, #33c96c, #139D8D );
}

.father {
	align-content: center;
	width: 700px;
	color:blue;
	background:#ffd800;
	/*padding: 35px;
	margin: auto;
	margin-top: 140px;
	color: #33c96c;
	background: linear-gradient(45deg, #33c96c, #139D8D );*/
}

.fath {
	align-content: center;	
}

/*--TITULO-DEL-FORMULARIO--------*/
.title-form {
	margin-bottom: 30px;
	color: yellow;
	font-size: 35px;
}

/*--INPUT-NOMBRE-----------------*/
.input1 {
    color: yellow;
    width: 48%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-bottom: 20px;
    margin-right: 9px;
    font-size: 15px;
    font-weight: bold;
    border-left: 10px solid #ffd800;
    transition: all .3s ease;
}

	.input1:hover, .input1:focus {
		border-left: 10px solid #ffd800;
	}

/*--INPUT-APELLIDO---------------*/
.input2 {
	color:yellow;
	width: 48.6%;
	padding: 10px;
	border-radius: 2px;
	border: none;
	margin-bottom: 20px;
	font-size: 15px;
	border-left: 10px solid #ffd800;
	transition: all .3s ease;

}

	.input2:hover, .input2:focus {
		border-left: 10px solid #ffd800;
	}


/*.input3 {
	background:#000000;
	color:black;
	width: 48.6%;
	padding: 10px;
	border-radius: 2px;
	border: none;
	margin-bottom: 20px;
	font-size: 24px;
	border-left: 10px solid #ffd800;
	transition: all .3s ease;
}

	.input3:hover, .input3:focus {
		border-left: 10px solid #000000;
	}*/
.strong, b {
    font-weight: bold;
}
/*--INPUT------------------------*/
.input {
    font-weight: bold;
    background: #ffd800;
    color: yellow;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
    border-left: 10px solid #ffd800;
    transition: all .3s ease;
}

	.input:hover, .input:focus {
		border-left: 10px solid #ffd800;
	}

/*--PARRAFO-TERMINOS-------------*/
.paragraph {
	color: #ffd800;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

/*--TERMINOS-Y-CONDICIONES-------*/
.termino1 {
	text-align: center;
	color: white;
}

.termino2 {
	color: #ffd800;
	text-decoration: none;
	font-weight: bold;
}

	.termino2:hover {
		color: #027a89;
	}

/*--BOTON-DE-REGISTRAR-----------*/
.btn {
    background: blue;
    height: 50px;
    top: 1px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

	.btn:hover {
		background: #ffd800;
	}


/*--BOTON-DE-mosttrar-----------*/
.btn2 {	
	height: 50px;
	top: 1px;
	padding: 5px;
	border-radius: 2px;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
    background: #ffd800;
	cursor: pointer;
	transition: all .3s ease;
}

	.btn2:hover {
		background: #159ccC;
	}

.btn3 {
    background: #ffd800;
    align-content: center;
    text-align: center;
    height: 50px;
    top: 1px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

	.btn3:hover {
		background: #ffd800;
	}
/*--OTRA-OPCION------ya tengo cuenta------------*/
.otra-opcion {
	align-content:center;
	text-align: center;
	color: #17c3eb;
	text-decoration: none;
	font-weight: bold;
}

	.otra-opcion:hover {
		color: #3fb0c4;
	}

.terminos2 {
	align-content: center;
	text-align: center;
	color: #17c3eb;
	text-decoration: none;
	font-weight: bold;
}

	.otra-opcion:hover {
		color: yellow;
	}

.radio {
	align-content: center;
	text-align: center;
	
	color: white;
	background: white;
	
	transition: all .3s ease;
}
