@{
    ViewBag.Title = "Contacto de CPF plataforma";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<section>
	<link href="~/Content/StyleLo.css" rel="stylesheet">
	<link href="~/Content/LoReg.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/Content/Pal/assets/css/main.css" />
	<link rel="stylesheet" href="~/Content/form.css">
</section>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@