@model CFPPE.Models.ViewModel.RecoveryViewModel

@{
    ViewBag.Title = "StartRecovery";
}


<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form action="@Url.Content("~/Access/StartRecovery")" method="post">
                <label>Escriba su correo Electronico</label>
                @Html.TextBoxFor(d => d.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Email, null, new { style = "color:red;" })
                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>

            </form>
        </div>
    </div>
</div>